---
layout: main-template-CZ.njk
title: Kos Treasure Hunt
---

        <section class="hero bottle-background">   
            <div class="hero__left">     
                <div class="blue-card">
                    <h1 class="blue-card__title">Hledání pokladu na ostrově Kos</h1>
                    <p class="blue-card__description">Zábavné hledací hry pro rodiny s dětmi.
                    </p>
                </div>
                                
                <a href="/CZ/games/" class="button">Chci hrát</a>
            </div> 
            <div class="hero__right">
                
            </div>
        </section>

        <section class="section-reviews">
            <h2>Co o nás říkají?</h2>

            <div class="reviews-container">
                <div class="review">
                    <div class="review__icon">
                        <!-- Prida ikonku -->    
                        {% include 'partials/icons/heart.njk' %}                    
                    </div>
                    <div class="review__text">
                        Dětem se to moc líbilo. Děkujeme za zpříjemnění naší letní dovolené.
                    </div>
                </div>

                <div class="review">
                    <div class="review__icon">                      
                        <!-- Prida ikonku -->    
                        {% include 'partials/icons/letter.njk' %}                                    
                    </div>                    
                    <div class="review__text">
                        Moc jsme si to užili, děti nadšeně běhaly za dalšími úkoly.
                    </div>
                </div>

                <div class="review">
                    <div class="review__icon">
                        <!-- Prida ikonku -->    
                        {% include 'partials/icons/like.njk' %}               
                    </div>
                    
                    <div class="review__text">
                        Celá rodina si užila luštění úkolů. Úspěšné otevření pokladu byla třešnička na dortu.
                    </div>
                </div>

            </div>
        </section>


        
        <!-- Prida sekci jak hrat -->    
        {% include 'partials/jak-hrat.njk' %}
   