---
layout: main-template-CZ.njk
title: Kos Treasure Hunt | Kardamena
---

        <section class="about-game">   

            <h1 class="about-game__title">Kardamena</h1>

            <p class="about-game__intro">V přístavu dříve kotvily lodě překupníků. Námořníci v místních barech vyprávěli o tajemném kufříku, 
                který zde ukryl jeden bohatý obchodník. Prý se pro něj již nikdy nevrátil... </p>

            <div class="game game--kardamena game--big">
                <h3 class="game__title">Kardamena</h3>
                <div class="game__description">
                    <p class="game__text">Hra v okolí přístavu.<br>
                                Délka cca 2km</p>
                </div>
            </div>

                 
        </section>


        <section class="information">
            <div class="info-container">
                <div class="info">
                    <div class="info__icon">
                         <!-- Prida ikonku -->    
                         {% include 'partials/icons/map-pin.njk' %}  
                    </div>
                    <div class="info__text">
                        Mapku ke hře si vyzvedněte v kavárně ..... v centru Kardameny nebo na půjčovně....
                    </div>
                </div>

                <div class="info">
                    <div class="info__icon">
                        <!-- Prida ikonku -->    
                        {% include 'partials/icons/euro.njk' %}
                    </div>
                    <div class="info__text">
                        Cena hry je 10 euro. Prosíme platit v hotovosti. Platba online zatím není možná.
                    </div>
                </div>
                
                <div class="info">
                    <div class="info__icon">
                        <!-- Prida ikonku -->    
                        {% include 'partials/icons/clock.njk' %}
                    </div>
                    <div class="info__text">
                        Zakoupit lze každý den od 10:00 do 18:00. Poklad je přístupný pouze do 17:30.
                    </div>
                </div>

                <div class="info">
                    <div class="info__icon">
                         <!-- Prida ikonku -->    
                         {% include 'partials/icons/map.njk' %}  
                    </div>
                    <div class="info__text">
                        Hrát můžete kdykoliv. Indicie jsou přístupné neomezeně. Možné hrát i více dní.
                    </div>
                </div>
                
            </div>
        </section>
            

        <section class="games-on-map">

            <h2 class="above-svg-map">Vybrat hru na mapě</h2>

            <!-- Prida click map Kos -->    
            {% include 'partials/svg-kos-map-CZ.njk' %}         
                
        </section>


        
        <section class="games-on-map">

            <h2>Mapa ostrova Kos</h2>
            
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d144579.96087558934!2d27.03922514707166!3d36.799542006964295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14bdfe67b6c08b35%3A0x9e9cc4f8469bdcdd!2zS8Ozcw!5e0!3m2!1scs!2sgr!4v1714548971167!5m2!1scs!2sgr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            
     
        </section>
   