@charset "UTF-8";
/* intuitivnejší box-sizing */
html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 20px;
  font-family: "Urbanist", sans-serif;
}
@media screen and (min-width: 960px) {
  body {
    background-color: #f5f5f5;
  }
}

@media screen and (min-width: 760px) {
  main {
    background-color: white;
    max-width: 1000px;
    margin-inline: auto;
    margin-top: 20px;
    box-shadow: 0px 0px 20px 1px rgb(221, 221, 221);
  }
}

section {
  padding-inline: 20px;
  padding-block: 40px;
  line-height: 1.5;
}
@media screen and (min-width: 760px) {
  section {
    padding-inline: 80px;
  }
}

@media screen and (min-width: 760px) {
  section > h1 {
    margin-top: 20px;
  }
}

h1 {
  font-size: 2.6em;
  margin-top: 0;
  margin-bottom: 40px;
  color: white;
  text-align: center;
  line-height: 1.25em;
}
@media screen and (min-width: 760px) {
  h1 {
    text-align: left;
    font-size: 2.8em;
  }
}

h2 {
  font-size: 1.6em;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 40px;
}
@media screen and (min-width: 760px) {
  h2 {
    text-align: left;
  }
}

.bottle-background {
  background-image: url(../images/bottle.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 760px) {
  .bottle-background {
    background-image: url(../images/bottle-desktop.jpg);
    background-size: cover;
    background-position: right;
  }
}

.button {
  display: inline-block;
  text-decoration: none;
  margin-top: 2.4em;
  padding: 10px 30px;
  border-radius: 20px;
  border: 0px;
  color: white;
  font-size: 32px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  line-height: normal;
  background-color: rgb(34, 114, 206);
}

.how-to-play {
  background-color: rgb(34, 114, 206);
  color: white;
}

ol {
  padding: 0 20px;
  margin: 0;
}

footer {
  height: 60px;
  padding: 20px;
  margin-top: 20px;
  font-size: 0.8em;
  background-color: #7F6F65;
  color: white;
  text-align: center;
}

.bottle-background + .how-to-play { /*aby byla bila mezera mezi foto pozadim a modrym pozadim*/
  margin-top: 20px;
}

/*---------------------- TABLET ---------------------------------------------*/
/* ------------------------- PC ---------------------------------------- */
/* ------------------------- PC nad 960---------------------------------------- */
header {
  height: 60px;
  background-color: #7F6F65;
  color: white;
}

.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 760px) {
  .header {
    max-width: 1000px;
    margin-inline: auto;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
}
.logo__image {
  height: 60px;
}
.logo__image-link {
  display: inline-block;
  max-height: 60px;
}
.logo__svg {
  max-height: 60px;
}
.logo__name {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9em;
  line-height: 1;
}
.logo__link {
  text-decoration: none;
  color: white;
  display: block;
}

.menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.menu__item {
  margin: 0;
  padding: 0;
}
.menu__item:not(:last-child) {
  border-right: 1px solid silver;
}
@media screen and (min-width: 700px) {
  .menu__item:hover {
    background-color: #73655c;
  }
}
.menu__link {
  display: inline-block;
  padding: 20px 20px;
  color: white;
  line-height: 1;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9em;
}
@media screen and (min-width: 700px) {
  .menu__link:visited {
    background-color: red;
  }
}

/*-------- Hamburger menu ---------------*/
.hamburger {
  display: none;
  cursor: pointer;
  padding-right: 20px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/*--------- MENU pokud bude obrazovka mensi nez 700px-------------*/
@media (max-width: 700px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .menu__list {
    position: absolute;
    left: -100%;
    top: 60px;
    gap: 5px;
    flex-direction: column;
    background-color: #8EB1BB;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 5000;
  }
  .menu__item {
    border: none;
    background-color: #EFEDED;
  }
  .menu__link {
    padding: 15px 30%;
    color: black;
  }
  .menu__list.active {
    left: 0;
  }
}
.hero {
  display: grid;
  grid-template-rows: auto;
}
@media screen and (min-width: 760px) {
  .hero {
    grid-template-columns: 50% 50%;
    background-color: #7F6F65;
  }
}
@media screen and (min-width: 1000px) {
  .hero {
    grid-template-columns: 40% 60%;
  }
}
.hero__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 760px) {
  .hero__left {
    align-items: flex-start;
    padding-block: 20px;
  }
}

.blue-card {
  background-color: rgba(34, 114, 206, 0.7);
  padding: 30px 20px;
  border-radius: 30px;
  color: white;
  text-align: center;
  line-height: 1.25;
}
@media screen and (min-width: 760px) {
  .blue-card {
    background-color: transparent;
    color: white;
    text-align: left;
    padding: 0;
  }
}
.blue-card__title {
  margin-top: 0;
  margin-bottom: 60px;
}
.blue-card__description {
  font-size: 32px;
  margin-bottom: 0px;
}

.reviews-container {
  display: grid;
  gap: 20px;
}
@media screen and (min-width: 760px) {
  .reviews-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.review {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 760px) {
  .review {
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 0px 21px -8px rgb(204, 204, 204);
  }
}

.choose-game__title {
  color: #111111;
  margin-bottom: 60px;
}
.choose-game__container {
  display: grid;
  justify-items: center;
  gap: 40px;
}
@media screen and (min-width: 960px) {
  .choose-game__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.game {
  width: 100%;
  height: 470px;
  border-radius: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  padding-block: 30px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.game__title {
  font-size: 2.7em;
  margin-block: 0;
}
.game__description {
  background-color: #7F6F65;
}
.game__text {
  margin-block: 0.5em;
}
.game--marmari {
  background-image: url(/images/foto/marmari-desktop.jpg);
  background-position: center;
}
.game--kardamena {
  background-image: url(/images/foto/kardamena-desktop.jpg);
  background-position: center;
}
@media screen and (min-width: 960px) {
  .game--big {
    height: 560px;
  }
}

.above-svg-map {
  margin-bottom: 0px;
}

.kos-map {
  display: block;
  margin-inline: auto;
}
.kos-map__button {
  fill: #2272ce;
}
.kos-map__button:hover {
  fill: #1b569a;
}

/*------------------- Marmari a Kardamena-------------------*/
.about-game__title {
  text-align: left;
  color: #111111;
}

.about-game__intro {
  margin-bottom: 40px;
}

.info-container {
  display: grid;
  gap: 20px;
}
@media screen and (min-width: 760px) {
  .info-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.info {
  display: flex;
  align-items: center;
  gap: 20px;
}
.photo-gallery {
  display: grid;
  gap: 20px;
}
@media screen and (min-width: 560px) {
  .photo-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.photo-gallery__image {
  display: block;
  width: 100%;
  max-width: 500px;
}

.faq {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 760px) {
  .faq {
    align-items: flex-start;
    padding-block: 20px;
  }
}

.blue-container {
  background-color: rgba(34, 114, 206, 0.7);
  padding: 30px 20px;
  border-radius: 30px;
  color: white;
}

.question {
  font-weight: 600;
  font-size: 1.2em;
  margin: 0;
}

.answer {
  margin: 0;
}

.answer + .question { /*aby mely otazky odstup od predesle odpovedi*/
  margin-top: 20px;
}

.contact {
  color: white;
}

form {
  width: 100%;
}

.form-field {
  margin-bottom: 20px;
}
@media screen and (min-width: 760px) {
  .form-field {
    width: 70%;
  }
}

input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 17px;
  display: block;
  box-sizing: border-box;
  font-size: 0.8em;
  font-family: "Urbanist", sans-serif;
}

@media screen and (min-width: 760px) {
  input[type=text], input[type=email] {
    width: 300px;
  }
}

label {
  font-size: 1em;
  padding: 0 0 5px 0px;
  display: block;
}

textarea {
  height: 120px;
  resize: vertical;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus { /*aktivni pole se zabarvi*/
  background-color: #eee;
  outline: 2px solid rgb(34, 114, 206);
}

.email {
  cursor: pointer;
  display: block;
  margin-top: 40px;
}

/*----Email send page----*/
.email-send {
  height: 90vh;
}

.wrapper-email-send {
  padding-top: 20px;
}

.thank-you {
  color: white;
  text-align: center;
}
@media screen and (min-width: 760px) {
  .thank-you {
    text-align: left;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0);
  }
  70% {
    transform: rotate(0);
  }
  85% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
.icon-svg {
  width: 60px;
  fill: rgb(34, 114, 206);
  animation: shake 4s;
  animation-iteration-count: infinite;
  transition-property: fill;
  transition-duration: 1s;
}
.icon-svg:hover {
  fill: #cd22a8;
}/*# sourceMappingURL=style.css.map */