$primary: #2271cd;
$secondary: #7F6F65;       //hneda v hlavicce, pruh na kartach games
$secondary-hover: #73655c;  // v menu na PC
$primary-transparent: rgba(34, 114, 206, 0.7);    //pruhledna karta
$menu: #8EB1BB;       // pozadi menu -mobil
$menu-items: #EFEDED;   // pozadi v zalozkach menu -mobil
$white-text: #f5f5f5;

:root {
    // --primary: #2271cd;
    // --primary-transparent: rgba(34, 114, 206, 0.7); 
    // --pozadi: #8EB1BB;       // pozadi menu
    // --light-gray: #EFEDED;   // pozadi v zalozkach menu
    // --header: #7F6F65;       //hneda v hlavicce
    
}