@use 'colors';

.reviews-container {
    display: grid;
    gap: 20px;
    
    @media screen and (min-width: 760px) { 
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}

@keyframes shake {  0%  {transform: rotate(0);}  
                    70%  {transform: rotate(0);} 
                    85% {transform: rotate(10deg);}
                    100% {transform: rotate(-10deg);}
}

.review {
    display: flex;
    align-items: center;
    gap: 20px;

    @media screen and (min-width: 760px) {    
            padding: 20px;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            -webkit-box-shadow: 0px 0px 21px -8px rgba(204,204,204,1);
            -moz-box-shadow: 0px 0px 21px -8px rgba(204,204,204,1);
            box-shadow: 0px 0px 21px -8px rgba(204,204,204,1);      
    }

    &__svg {
        width: 60px;

        animation: shake 4s;
        animation-iteration-count: infinite;
        
        &--color {
            fill: colors.$primary;  
        }

        &:hover {
            fill: #cd22a8;            
        }
    }

}

