---
layout: main-template-EN.njk
title: Kos Treasure Hunt
permalink: "/"
---

        <section class="hero bottle-background">   
            <div class="hero__left">     
                <div class="blue-card">
                    <h1 class="blue-card__title">Treasure Hunt on the island Kos</h1>
                    <p class="blue-card__description">Fun game for the whole family.</p>
                </div>
                
                <a href="/EN/games/" class="button button--hero">I want to play</a>
                
            </div> 
            <div class="hero__right">
                
            </div>
        </section>

        <section class="section-reviews">
            <h2>Reviews</h2>

            <div class="reviews-container">
                <div class="review">
                    <div class="review__icon">
                         <!-- Prida ikonku -->    
                         {% include 'partials/icons/heart.njk' %}  
                   </div>
                    <div class="review__text">
                        The kids loved it. Thank you for making our summer vacation more enjoyable.
                    </div>
                </div>

                <div class="review">
                    <div class="review__icon">
                        <!-- Prida ikonku -->    
                        {% include 'partials/icons/letter.njk' %}        
                    </div>
                    <div class="review__text">
                        We had a great time, the kids were enthusiastically running for other tasks.
                    </div>
                </div>

                <div class="review">
                    <div class="review__icon">
                        <!-- Prida ikonku -->    
                        {% include 'partials/icons/like.njk' %}     
                    </div>
                    <div class="review__text">
                        The whole family enjoyed solving the puzzles. The successful opening of the treasure was the icing on the cake.
                    </div>
                </div>

            </div>
        </section>

        <!-- Prida sekci how to play -->    
        {% include 'partials/how-to-play.njk' %}
   