---
layout: main-template-EN.njk
title: Kos Treasure Hunt | Marmari
---

        <section class="about-game">   

            <h1 class="about-game__title">Marmari</h1>

            <p class="about-game__intro">The conquerors of the island of Kos left a treasure on the beach during their escape.
                They left a few clues in the area so that someone could come back and pick it up. Can you help us find it and open it?</p>

            <div class="game game--marmari game--big">
                <h3 class="game__title">Marmari</h3>
                <div class="game__description">
                    <p class="game__text">The game is close to the beach. <br>
                                Length about 2km</p>
                </div>
            </div>

                 
        </section>


        <section class="information">
            <div class="info-container">
                <div class="info">
                    <div class="info__icon">
                        <!-- Prida ikonku -->    
                        {% include 'partials/icons/map-pin.njk' %}
                    </div>
                    <div class="info__text">
                        Pick up the game map at the info centre in Marmari or at the hotel reception....
                    </div>
                </div>

                <div class="info">
                    <div class="info__icon">
                       <!-- Prida ikonku -->    
                       {% include 'partials/icons/euro.njk' %} 
                    </div>
                    <div class="info__text">
                        The price of the game is 10 euros. Please pay in cash. Online payment is not yet possible.
                    </div>
                </div>
                
                <div class="info">
                    <div class="info__icon">
                        <!-- Prida ikonku -->    
                        {% include 'partials/icons/clock.njk' %}
                    </div>
                    <div class="info__text">
                        Purchases are available every day from 10:00 to 18:00. The Treasure is only available until 17:30.
                    </div>
                </div>

                <div class="info">
                    <div class="info__icon">
                       <!-- Prida ikonku -->    
                       {% include 'partials/icons/map.njk' %}  
                    </div>
                    <div class="info__text">
                        You can play at any time. Indicies are available unlimited. You can play it also for more days.
                    </div>
                </div>
                
            </div>
        </section>

        <section class="photo-gallery">  
            
            <!-- Prida fotky -->    
            {% include 'partials/photo-gallery.njk' %}   
            
        </section> 
            

        <section class="games-on-map">

            <h2  class="above-svg-map">See the game locations on the map</h2>

            <!-- Prida click map Kos -->    
            {% include 'partials/svg-kos-map-EN.njk' %}         
                
        </section>
        

        <section class="games-on-map">

            <h2>Map of the island Kos</h2>
            
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d144579.96087558934!2d27.03922514707166!3d36.799542006964295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14bdfe67b6c08b35%3A0x9e9cc4f8469bdcdd!2zS8Ozcw!5e0!3m2!1scs!2sgr!4v1714548971167!5m2!1scs!2sgr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            
     
        </section>
