<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ title }} </title>
    <meta name="description" content="Fun game for the whole family on the island Kos. Solve the puzzle and find your treasure.  ">

    <!-- Open Graph Markup for Social media -->
    <meta property="og:title" content="Treasure Hunt on the island Kos">
	<meta property="og:description" content="Fun game for the whole family on the island Kos. Solve the puzzle and find your treasure.">
	<meta property="og:type" content="website">
	<meta property="og:image" content="https://treasure-hunt-kos.netlify.app/images/header-for-social.jpg">
	<meta property="og:url" content="https://treasure-hunt-kos.netlify.app/">
	<meta property="og:locale" content="en_US">

    <!-- Fonty -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <!-- Favicony -->
    <link rel="icon" href="/favicon.ico">    
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#2271cd">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#2271cd">
    
    <link rel="stylesheet" href="/CSS/style.css"> 
    
</head> 

<body>

    <header>
        <div class="header">
            <div class="logo">
                <div class="logo__image">  
                    <a class="logo__image-link" href="/"> <img class="logo__svg" src="/images/icons/chest-white-simple.svg" alt=""> </a>
                </div>
                <div class="logo__name"> 
                    <a class="logo__link" href="/"> Treasure <br> Hunt Kos </a>
                </div>
            </div>

            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item"><a href="/EN/games/" class="menu__link">Games</a></li>
                    <li class="menu__item"><a href="/EN/faq/" class="menu__link">FAQ</a></li>
                    <li class="menu__item"><a href="/EN/contact/" class="menu__link">Contact</a></li>
                    <!-- <li class="menu__item"><a href="/CZ/" class="menu__link">EN/CZ</a></li> 👀 momentalne neni aktualni-->
                     <!-- ❗❗❗ Slozka CZ pridana do .gitignore ❗❗❗ -->
                </ul>
            </nav>

            <div class="hamburger"> 
                <span class="bar"></span>     <span class="bar"></span>     <span class="bar"></span> 
              </div>

        </div> 
    </header>
    
    <main>

        {{content | safe}}

    </main>

    <footer>
        © Treasure Hunt Kos 2024
    </footer>

<!-- Java Script pro menu -->
<script src="/script-menu.js"></script> 



<!-- Java Script Lightbox na fotky -->
<script src="/fslightbox.js"></script>


</body>
</html>        