<section class="how-to-play">
    <h2>How to play?</h2>
    <ol>
        <li><p>Choose a game in your location.</p></li>
        <li><p>After purchasing the game, you will receive a code that you will need to start the game.</p></li>
        <li><p>Follow the instructions to get the game map. </p></li>
        <li><p>Then search for clues in the marked locations to get the code to open the treasure chest.</p></li>

    </ol>


</section>