<section class="how-to-play">
    <h2>How to play?</h2>
    <ol>
        <li><p>Choose a game in the selected location from the menu.</p></li>
        <li><p>Buy it at one of the listed locations in the location of the game.</p></li>
        <li><p>Následujte instrukce a mapku z plánku hry.</p></li>
        <li><p>Along the way, solve the puzzles and at the end a secret code that will open a treasure chest.</p></li>
        <li><p>Pick up the treasure at the indicated location.</p></li>
    </ol>


</section>