<section class="how-to-play">
    <h2>How to play?</h2>
    <ol>
        <li><p>Choose a game available in your location.</p></li>
        <li><p>Purchase the game to receive a unique code to start.</p></li>
        <li><p>Follow the instructions and complete the quiz to unlock the game map. </p></li>
        <li><p>Search for clues at marked locations to find the code and open the treasure chest.</p></li>

    </ol>


</section>