<a class="photo-gallery__link" data-fslightbox href="/images/foto/gallery/marmari-beach3--big.jpg">
    <img class="photo-gallery__image" src="/images/foto/gallery/marmari-beach3--small.jpg" 
    alt="Drone image of Marmari, Kos – explore this area in our treasure hunt game"
    title="Marmari beach – one of the beautiful locations featured in our treasure hunt.">
</a>

<a class="photo-gallery__link" data-fslightbox href="/images/foto/gallery/marmari-beach4--big.jpg">
    <img class="photo-gallery__image" src="/images/foto/gallery/marmari-beach4--small.jpg" 
    alt="Drone view of Marmari beach, location of the family treasure hunt on Kos"
    title="Explore the quiet beauty of Marmari as part of the family game.">
</a>

<a class="photo-gallery__link" data-fslightbox href="/images/foto/gallery/marmari-beach6--big.jpg">
    <img class="photo-gallery__image" src="/images/foto/gallery/marmari-beach6--small.jpg" 
    alt="Sunset view from Marmari beach during the Kos treasure hunt"
    title="Start your treasure hunt in the late afternoon and enjoy the sunset on the way.">
</a>


<a class="photo-gallery__link" data-fslightbox href="/images/foto/gallery/marmari-beach5--big.jpg">
    <img class="photo-gallery__image" src="/images/foto/gallery/marmari-beach5--small.jpg" 
    alt="Kos island sunset seen from the treasure hunt trail in Marmari"
    title="You can enjoy the game even in the evening while watching the sunset" >
</a>



