<a class="photo-gallery__link" data-fslightbox href="/images/foto/gallery/marmari-beach3--big.jpg">
    <img class="photo-gallery__image" src="/images/foto/gallery/marmari-beach3--small.jpg" alt="Marmari beach">
</a>

<a class="photo-gallery__link" data-fslightbox href="/images/foto/gallery/marmari-beach4--big.jpg">
    <img class="photo-gallery__image" src="/images/foto/gallery/marmari-beach4--small.jpg" alt="Marmari beach">
</a>

<a class="photo-gallery__link" data-fslightbox href="/images/foto/gallery/marmari-beach6--big.jpg">
    <img class="photo-gallery__image" src="/images/foto/gallery/marmari-beach6--small.jpg" alt="Marmari beach">
</a>


<a class="photo-gallery__link" data-fslightbox href="/images/foto/gallery/marmari-beach5--big.jpg">
    <img class="photo-gallery__image" src="/images/foto/gallery/marmari-beach5--small.jpg" alt="Marmari beach">
</a>



